@inherits LayoutComponentBase
<div class="login-wrapper" style="min-height: 100vh; display: flex; justify-content: center; align-items: center;         background-image: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg);
  background-size: cover;">
    @Body
</div>
